{% extends 'base.html' %}
{% load static %}


{% block title %}
Главная страница
{% endblock title %}

{% block content1 %}
<div class="card text-bg-dark">
    <img src="{% static 'image/body.jpg' %}" style="height: 950px;" class="card-img" alt="...">
    <div class="container mt-4 card-img-overlay back">
        <div class="text-center">
            <h5 class="card-title" style="font-family: cursive;">О нас и нашей Компании</h5>
        </div>
        <p class="card-text" style="font-family: cursive;"z>
            Розничная сеть — одна из крупнейших розничных сетей по объёмам продаж электроники и бытовой техники в
            России. осуществляет свою деятельность с 1993 года и является первой на российском рынке сетью,
            реализовавшей полноценный омниканальный подход к продажам — это единый ассортимент, цена и сервис как при
            покупке в магазинах, так и онлайн. Ритейлер предлагает своим покупателям несколько десятков тысяч
            наименований аудио/видео и цифровой техники, мелкой и крупной бытовой техники, медиатоваров, а также
            аксессуаров. Магазины имеют единый формат и специальную концепцию дизайна. Помимо эффективного формата
            розничной торговли и ориентированной на покупателя концепции магазина, компания предлагает клиентам
            высококлассную сервисную поддержку под брендом . Эксперты помогут быстро заполнить анкету и получить
            одобрение сразу от нескольких банков-партнёров.
            является одним из пионеров онлайн-ритейла в России. Первый интернет-магазин был открыт в 2001 году, а с 2014
            года компания начала внедрение омниканальной бизнес-модели. Концепция ONE RETAIL — следующий шаг в цифровой
            трансформации нашего бизнеса, заключающийся в создании единого опыта приобретения потребительской
            электроники во всех точках контакта Группы и клиента — на интернет-сайте, в мобильном приложении и в сети
            магазинов — с максимально персонализированным сервисом.
            Нашим приоритетом является создание лучшего и однородного клиентского опыта во всех каналах продаж.
            развивает проект RTD, в рамках которого консультанты в магазинах обслуживают покупателей с помощью
            смартфонов с программным обеспечением, позволяющим существенно повысить персонализацию сервиса. Сегодня все
            продавцы могут авторизовать вас в магазине через программу лояльности, уточнить количество накопленных
            Бонусных рублей и размер скидок и сделать выгодное персональное предложение. С 2018 года в магазинах
            появились зоны нового опыта (experience-зоны), в которых посетителям рассказывают о новейших технологиях,
            таких как умный дом, виртуальная реальность (VR), 3D-печать и др., а также демонстрируют инновационные
            товары и дают возможность протестировать их самостоятельно. Наряду с элементами корпоративного дизайна
            важной составляющей оформления торгового пространства являются выделенные зоны вендоров, такие как
            бренд-зоны Apple, Samsung, Miele, зоны Smart Home (умный дом) Perenio и многие другие. Всего на конец 2018
            года в сети установлено около 11,8 тыс. вендорских зон и демостендов.
            также развивает проект m_mobile, специальные зоны в магазинах и отдельно стоящие точки, ориентированные на
            продажи смартфонов и связанных с ними устройств, аксессуаров. Зоны имеют выделенные кассы, большой
            ассортимент новинок в открытой выкладке и могут подобрать комплексное решение исходя из потребностей
            покупателя по максимально выгодной цене
            в 2018 году второй год подряд признана лучшим работодателем России по версии компании Aon Hewitt. стала
            единственной российской розницей, вошедшей в рейтинг — текучесть персонала компании в полтора раза ниже, чем
            в среднем по рознице, а уровень вовлечённости сотрудников более чем на 20% выше среднего показателя по
            России. также стала лучшим работодателем-ритейлером в «Рейтинге работодателей России 2018» компании
            HeadHunter. является обладателем Online Retail Russia Awards в номинации Ahead of the Curve как самый
            инновационный омниканальный бизнес и Global Retail Real Estate Awards за достижения в области торговой
            недвижимости и ритейла. В 2019 году компания получила премию «Большой Оборот 2019» в номинации «Клиентский
            сервис» как интернет-магазин, повёрнутый к клиенту «лицом» на всех стадиях совершения покупки (в рамках
            конференции «Электронная торговля 2019»). Финалист «Ecomspace. Почта России 2019 Awards» в номинациях «Выбор
            покупателя — лучшее обслуживание 2019» и «Офлайн + онлайн. Лучший сетевой магазин 2019».
            Розничная сетьвходит в Группу объединяющую розничные бренды на рынке бытовой техники и электроники и Оборот
            Группы превышает 430 миллиардов рублей, компания включает более чем 1 000 магазинов в 250 городах России.
            Группа — единственная российская компания в секторе розничной торговли электроникой, чьи акции обращаются на
            фондовом рынке. В настоящее время торговля акциями компании идёт на крупнейшей российской биржевой площадке
            — Московской бирже (тикер: MVID).
        </p>
    </div>
</div>
{% endblock content1 %}


{% block content2 %}
{% endblock content2 %}